{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="{% static 'scripts/jquery-3.6.0.min.js' %}"> </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <!-- FOOTER BUTTON ICON SCRIPT  -->
    <script src="https://kit.fontawesome.com/c735b10dd8.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3da0178481.js" crossorigin="anonymous"></script>
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <!-- FOOTER BUTTON ICON SCRIPT  -->
 
    {% block title %}
    <title>
        COA Manila
    </title>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
    
</head>
<body>
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-md sticky-top">
        <div>
            <a href="{% url 'home' %}"><img src="{% static 'images/coa_logo.png' %}" class="navLogo"></a>
        </div>
        
        <button class="navbar-toggler desktopHover" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"  onclick="showMenu(this)" id="burger">
            <div class="hamburgerCont">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" style="margin-left:auto;">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}" id="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}" id="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'organizations' %}" id="org">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}" id="serv">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'newsletters' %}" id="news">Newsletters</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'contactUs' %}" id="cont">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" disabled id="extraSpace"></a>
            </li>
          </ul>
        </div>
      </nav>

    <!-- CONTENT -->
    <div class="bodySpace">
        {% block content %}
        {% endblock %}
    </div>

    <!-- FOOTER -->
    <footer class="page-footer w-100" style="color: white;" id="footer">
        <div class="container w-100">
            <div class="row w-100" style="padding-top: 40px; color: white">
    
            <!-- FIRST COLUMN START -->
            <div class="col-md-4" id="footerfirstcol">
                <div id="firstcologo">
                <img src="{% static 'images/COAlogo.png' %}" alt="" style="height: 78px;width: 78px;">
                </div>
                <div id="firstcoldesc">
                <ul class="list-unstyled" style="margin-top: 18px;" id="firstcolul">
                    <li>
                    <p class="m-0 textfooter">Copyright © 2022.</p>
                    </li>
                    <li style="margin-top: 8px;">
                    <p class="m-0 textfooter" style="width: 181px;">Council of Organizations of the Ateneo - Manila.</p>
                    </li>
                    <li style="margin-top: 8px;">
                    <p class="m-0 textfooter">All Rights Reserved.</p>
                    </li>
                </ul>
                </div>
            </div>
            <!-- FIRST COLUMN END -->
    
            <hr class="clearfix w-100 d-md-none invisible">
    
            <!-- SECOND COLUMN START -->
            <div class="col-md-4" id="footersecondcol">
                <h3 class="headerfooter m-0">Explore</h5>
                <div class="row">
                    <div class="col-6">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'home' %}" class="footertextlink">Home</a>
                        </li>
                        <li>
                        <a href="{% url 'about' %}" class="footertextlink">About</a>
                        </li>
                        <li>
                        <a href="{% url 'organizations' %}" class="footertextlink">Organizations</a>
                        </li>
                    </ul>
                    </div>
                    <div class="col-6">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'services' %}" class="footertextlink">Services</a>
                        </li>
                        <li>
                        <a href="{% url 'newsletters' %}" class="footertextlink">Newsletters</a>
                        </li>
                        <li>
                        <a href="{% url 'contactUs' %}" class="footertextlink">Contact Us</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            <!-- SECOND COLUMN END -->
        
            <hr class="clearfix w-100 d-md-none invisible">
        
            <!-- THIRD COLUMN START -->
            <div class="col-md-4" id="footerthirdcol">
                <div>
                <h5 class="headerfooter">Always In Service</h5>
                <p class="textmfooter" id="contactdesc" style="word-wrap: break-word;">Get in touch with us through our channels!</p>
                
                <div class="formatting">
                    <a href="mailto:coa.ls@obf.ateneo.edu" style = "text-decoration: none;">
                        <button class="btn-circle">
                                <i class="fa-solid fa-envelope fa-lg" id="mailiconbutton"></i>
                        </button>
                    </a>

                    <a href="https://fb.com/coamanila" style = "text-decoration: none;" target = "_blank">
                        <button class="btn-circle">
                            <i class="fa-brands fa-facebook-f"></i>
                        </button>
                    </a>

                    <a href="https://twitter.com/coamanila" style = "text-decoration: none;" target = "_blank">
                        <button class="btn-circle">
                            <i class="fa-brands fa-twitter"></i>
                        </button>
                    </a>

                    <a href="https://instagram.com/coamanila" style = "text-decoration: none;" target = "_blank">
                        <button class="btn-circle">
                            <i class="lni lni-instagram-filled"></i>
                        </button>
                    </a>
                </div>
                </div>
            </div>
            <!-- THIRD COLUMN END -->
        
            <hr class="clearfix w-100 d-md-none invisible">
        
            </div>
        </div>
    
        
        <!-- Copyright -->
        <div class="container text-left py-3">
            <hr style="color: white; height: 2px;" id="creditshr">
            <p class="textfooter" id="credits2">Designed by Dagny Yenko <br><br>  Developed by the Ateneo Management Information Systems Association</p>
            <p class="textfooter" id="credits">Designed by Dagny Yenko<img src="{% static 'images/Services_List Star.svg' %}" style="height: 12px; width: 9.53px;" class="mx-2">Developed by the Ateneo Management Information Systems Association</p>
            
        </div>
        <!-- Copyright -->
        
    </footer>

    <!-- JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        let burger = document.getElementById("burger")
        let extraSpace = document.querySelector("#extraSpace")
        let ul = document.querySelector(".navbar-nav")
        // // SELECTED NAV TITLE (ACTIVE)
        let home = document.getElementById('home')
        let about = document.getElementById('about')
        let org = document.getElementById('org')
        let serv = document.getElementById('serv')
        let news = document.getElementById('news')
        let cont = document.getElementById('cont')

        const hrefHome = 'home'
        const hrefAbout = 'about'
        const hrefOrg = 'organizations'
        const hrefIndiv = 'indivorg'
        const hrefServ = 'services'
        const hrefNews = 'newsletters'
        const hrefIndivNews = 'indivnewsletter'
        const hrefContact = 'contactUs'

        let mailicon = document.querySelectorAll('#mailiconbutton')

        window.addEventListener("load", function makeNavTitleActive(){
            if(window.location.href.includes(hrefHome) || window.location.href == "http://localhost:8000/" || window.location.href == "http://coamanila.com" ){
                home.classList.add('active')
            }
            else if(window.location.href.includes(hrefAbout)){
                    about.classList.add('active')
            }
            else if(window.location.href.includes(hrefOrg) || window.location.href.includes(hrefIndiv)){
                    org.classList.add('active')
            }
            else if(window.location.href.includes(hrefServ)){
                    serv.classList.add('active')
            }
            else if(window.location.href.includes(hrefNews) || window.location.href.includes(hrefIndivNews)){
                    news.classList.add('active')
            }
            else if(window.location.href.includes(hrefContact)){
                    cont.classList.add('active')
            }
        })
        // NAV MENU
        function showMenu(x){
            // to show/remove the menu itself
            if(x.classList.contains("clicked")){
                x.classList.remove("clicked")
                document.body.style.overflow = ""
                
            }
            else{
                x.classList.add("clicked")
                document.body.style.overflow = "hidden"
                extraSpace.style.display="block"
            }
        }

        function enableScroll(){
            if(window.innerWidth >= 768){
                document.body.style.overflow = ""
                extraSpace.style.display="none"
            }

            else if(window.innerWidth < 768){
                if(burger.classList.contains("clicked")){
                    document.body.style.overflow = "hidden"
                }
                extraSpace.style.display="block"
            }
        }
        window.addEventListener('load', enableScroll)
        window.addEventListener('resize', enableScroll)
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
            burger.classList.remove("desktopHover")
        }
        else if(!burger.classList.contains("desktopHover")){
            burger.classList.add("desktopHover")
        }

        if(/webOS|iPhone|iPad|iPod|Opera Mini/i.test(navigator.userAgent)){
            for(j of mailicon){
                j.classList.add('mailiconmargin');
            }
            
        }

        // SCROLL
        // stores the previous Y coordinate and compares it to the new Y coordinate to know whether the user is scrolling down or up
        var prevScrollpos = window.pageYOffset;
        window.addEventListener('scroll', function fadeNavBar() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos || burger.classList.contains("clicked")) {
            document.querySelector("nav").style.top = "0";
        } else {
            document.querySelector("nav").style.top = "-64px";
        }
        prevScrollpos = currentScrollPos;
        })
    </script>

<script>
    let footerPosition = document.getElementById('footer')
    let footerfirstcol = document.getElementById('footerfirstcol')
    let firstcologo = document.getElementById('firstcologo')
    let firstcoldesc = document.getElementById('firstcoldesc')
    let firstcolul = document.getElementById('firstcolul')
    let hr = document.getElementById('hr')
    let credits = document.getElementById('credits')
    let credits2 = document.getElementById('credits2')
    let creditshr = document.getElementById('creditshr')
    let contactdesc = document.getElementById('contactdesc')
    let footersecondcol = document.getElementById('footersecondcol')
    let footerthirdcol = document.getElementById('footerthirdcol')

    function footerFirstColMobile(){
      footerfirstcol.classList.add('row')
      footerfirstcol.classList.add('p-0')
      footerfirstcol.classList.add('d-flex')
      footerfirstcol.classList.add('justify-content-center')
      firstcologo.classList.add('col-3')
      firstcoldesc.classList.add('col-6')
      firstcologo.classList.add('d-flex')
      firstcologo.classList.add('justify-content-center')
      firstcolul.style.marginTop='0'

      footersecondcol.classList.add('mt-4')
      footersecondcol.style.width='330px'
      footersecondcol.classList.add('mx-auto')
      footersecondcol.classList.add('p-0')

      footerthirdcol.classList.add('mt-4')
      footerthirdcol.classList.add('d-flex')
      footerthirdcol.classList.add('justify-content-center')

      credits.classList.add("invisible")
      credits2.classList.add('topmargin')
    //   creditshr.classList.add('px-5')
      credits2.classList.remove('invisible')
    }

    function removefooterFirstColMobile(){
      footerfirstcol.classList.remove('row')
      footerfirstcol.classList.remove('p-0')
      footerfirstcol.classList.remove('d-flex')
      footerfirstcol.classList.remove('justify-content-center')
      firstcologo.classList.remove('col-3')
      firstcoldesc.classList.remove('col-6')
      firstcologo.classList.remove('d-flex')
      firstcologo.classList.remove('justify-content-center')
      firstcolul.style.marginTop='18px'

      footersecondcol.classList.remove('mt-4')
      footersecondcol.style.width=''
      footersecondcol.classList.remove('mx-auto')
      footersecondcol.classList.remove('p-0')

      footerthirdcol.classList.remove('mt-4')
      footerthirdcol.classList.remove('d-flex')
      footerthirdcol.classList.remove('justify-content-center')

      credits.classList.remove("invisible")
      credits2.classList.remove('topmargin')
    //   creditshr.classList.remove('px-5')
      credits2.classList.add('invisible')
    }

    function footer300px(){
        footersecondcol.classList.add('px-3')
    }

    function removefooter300px(){
        footersecondcol.classList.remove('px-3') 
    }

    function footerFormat(){
      if(window.innerWidth <= 767){
        footerFirstColMobile()
      }
      else if(window.innerWidth > 767){
        removefooterFirstColMobile()
      } 
    }

    function footer300format(){
        if(window.innerWidth <= 375){
            footer300px()
        } else if (window.innerWidth > 375){
            removefooter300px()
        }
    }
    window.addEventListener('resize',footerFormat)
    window.addEventListener('load',footerFormat)
    window.addEventListener('resize',footer300format)
    window.addEventListener('load',footer300format)

    
</script>
<script>
    document.getElementById("mailiconbutton").onmouseover = function(){
      document.getElementById("mailicon").setAttribute("fill", "white")
    }

    document.getElementById("mailiconbutton").onmouseout = function(){
        document.getElementById("mailicon").setAttribute("fill", "#EA6710")
      }
</script>
    {% block script %}
    {% endblock %}
</body>
</html>